<%- include('partials/header.ejs') %> 

<form action="/q" method="POST" class="search-form" id="search-form">
    <div class="input-group mb-3">
        
    </div>
</form>


<%- include('partials/footer.ejs') %> 