:root{
     --bbc-font: Arial, Helvetica, freesans, sans-serif
}

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.border-left{
     border-left: 2px solid red;
     padding-left: 8px;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin: 0;
     padding: 0;
     font-family: var(--bbc-font);
     font-size: 14px;
}

.container{
     position: relative;
     max-width: 1280px;
     margin: auto;
}


/******************************************
/* HEADER STYLES
/*******************************************/
header{
     background-color: black;
}

header img,
header a,
header input,
header nav {
  border-right: 1px #666 solid;
  display: inline-block;
}

header img{
     position: relative;
     top: 7px;
}

header a{
     color: white;
     display: inline-block;     
     padding: 12px 20px;
     text-decoration: none;
}
/* Styles the input box and centers the Search tag inside */
header input{
     border: none;
     margin-left: 15px;
     padding: 5px;
}

/******************************************
/* NAVIGATION STYLES
/*******************************************/

nav ul{
     padding: 0;
     margin: 0;
     list-style: none;
}

nav ul li{
     display: inline-block;
}

nav ul li a{
     padding: 12px 15px;
}

/******************************************
/* 
/*******************************************/

.heading h1,
.heading--date{
     margin: 34px 0 18px;
     font-weight: bold;
     float: left;
}

.heading--date{
     float: right;
}

/******************************************
/* LEFT LAYOUT
/*******************************************/
.main-news{
     margin: 1rem;
     overflow: auto;
     width: 100%;
     /* border: 1px solid black; */
     padding: 2rem;
}

.main-news--left{
     width: 47%;
     height: 100vh;
     float: left;
     margin: 0 0.5rem;
}

.main-news--left-article{
     position: relative;
     width: 100%;
     float: left;
}

.main-news--left-article img{
     display: block;
     width: 100%;
     height: 100%;

}

.main-news--left-article .main-news--left-content{

}

.main-news--left-article .main-news--left-content{
     position: absolute;
     width: 100%;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     bottom: 0;
     padding: 1rem 1rem;
     z-index: 2;
}

.main-news--left-content a{
     color: white;
     opacity: .7;
}

.main-news--left-content h2 {
     font-size: 33px;
     font-weight: 100;
     margin: 0 0 18px;
}

.main-news--left-content p{
     color: #515151;
     font-size: 16px;
     line-height: 1.5;
     margin: 0 0 16px;
}


/******************************************
/* RIGHT LAYOUT
/*******************************************/


.main-news{
     margin: 1rem;
     overflow: auto;
     width: 100%;
     /* border: 1px solid black; */
     padding: 2rem;}

.main-news--right{
     width: 47%;
     height: 50vh;
     float: left;
     margin: 0 0.5rem;
}

.main-news--right-article {
  height: 33vh;
  width: 47%;
  float: left;
  margin: 0.5rem;
}

.main-news--right-article img{
     display: block;
     width: 100%;
     height: 100%;
}

.main-news--right-article .main-news--right-content{
     position: absolute;
     width: 100%;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     bottom: 0;
     padding: 1rem 1rem;
     z-index: 2;
}

.main-news--right-content{
     
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
