:root {
     --bbc-font: Arial, Helvetica, 'free sans', sans-serif
}

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin: 0;
     padding: 0;
     font-family: var(--bbc-font);
     font-size: 14px;
}

/******************************************
/* HEADER STYLES
/*******************************************/
header {
     background-color: black;
     border: 2px solid red;
}
.container {
     position: relative;
     max-width: 1280px;
     margin: auto;
}

header img,
header a,
header input,
header nav {
  border-right: 1px #666 solid;
  display: inline-block;
}

header img {
     position: relative;
     top: 7px;
}

header a {
     color: white;
     display: inline-block;
     padding: 12px 20px;
     text-decoration: none;
}
/* Styles the input box and centers the Search tag inside */
header input {
     border: none;
     margin-left: 15px;
     padding: 5px;
}

/******************************************
/* NAVIGATION STYLES
/*******************************************/
nav ul {
     padding: 0;
     margin: 0;
     list-style: none;
}

nav ul li {
     display: inline-block;
}

nav ul li a {
     padding: 12px 15px;
}

/******************************************
/*   HEADING STYLES
/*******************************************/
.content  {
}
.heading {
     position: relative;
     max-width: 1280px;
     margin: auto;
     border: 2px solid yellow;
}

.heading .title span {
     float: left;
}

.title {
     text-align: right;
}

/******************************************
/*   MAIN NEWS
/*******************************************/
.main-news {
     position: relative;
     max-width: 1280px;
     margin: auto;
     overflow: hidden;
     /* border: 2px solid green; */
}
/******************************************
/*   MAIN NEWS LEFT LAYOUT
/*******************************************/
.main-news--left {
     width: 50%;
     float: left;
}

.main-news--left-article{
}

.main-news--left-article img {
     display: block;
     width: 100%;
     height: 100%;
}

.main-news--left-article .main-news--left-content {
     position: absolute;
     width: 50%;
     bottom: 10px;
     padding-left: 15px;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 2;
}
/******************************************
/* RIGHT LAYOUT
/*******************************************/
.main-news--right {
     /* position: relative; */
     width: 50%;
     float: left;
     /* border: 2px solid yellow; */
}

.main-news--right-article img{
     display: inline-block;
     width: 100%;
     height: 100%;
     padding-left: 5px;
     padding-bottom: 5px;
     /* border: 2px solid red; */
}

.main-news--right-article {
     width: 50%;
     float: left;
}

/* .main-news--right-article .main-news--right-content{
     position: absolute;
     width: 50%;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 2;
} */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.news-block {
     position: relative;
     max-width: 1280px;
     margin: auto;
     overflow: hidden;
     /* border: 2px solid red; */
}

.news-block--heading .title {
     float: left;
     /* border: 2px solid yellow; */
}

.news-block--article {
     width: 33.3333%;
     margin-bottom: 5px;
     border: 2px solid blue;
}

.news-block--article img {
     width: 100%;
}

.border-left {
     border-left: 2px solid red;
}




