/******************************************
/* CSS
/*******************************************/
:root {
	--darkGreen: rgb(27, 32, 28);
	--lime: rgb(197, 251, 76);
	--white: rgb(255, 255, 255);
	--red: rgb(234, 0, 86);
	--darkBG: rgb(30, 30, 30);
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
