/******************************************
/* CSS
/*******************************************/
:root {
	--darkGreen: #1b201c;
	--lime: #c5fb4c;
	--white: rgb(255, 255, 255);
	--red: rgb(234, 0, 86);
	--darkBG: #020302;
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--darkGreen);
	color: var(--lime);
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

button {
	font-size: 2rem;
	margin-bottom: 15px;
}

span {
	font-size: 2rem;
	font-weight: bold;
}

#game-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 75vw;
	margin: 10px auto;
}

#category-row {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

#clue-board {
	flex-direction: column;
}

.clue-row {
	display: flex;
}

.clue-box {
	display: flex;
	align-items: center; /*vertical align*/
	justify-content: center; /*hotizontal align*/
	border: 2px solid green;
	background-color: var(--darkBG);
	border-radius: 5px;
	margin: 5px;
	font-size: 2rem;
	font-weight: bold;
	height: 100px;
	flex: 1;
	text-transform: uppercase;
}

.category-box {
	font-size: .8rem;
	line-height: 25px;
}

.clicker-box {
	font-size: 1rem;
}

img{
  display: block;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
