<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <form action="/new" method="POST">
        <label for="textInput">Input Text</label>
        <input type="text" name="textInput" placeholder="Enter Text">
        <label for="numInput">Input Number</label>
        <input type="number" name="numInput" value="0" placeholder="Enter Number">
        <button type="submit">Add Item</button>
    </form>

    <ul>
        <!-- Will add ejs later -->
    </ul>
</body>
</html>