/* Please Make only Rhino and Zebra Blue */
section > h2 {
    color: blue;
}

/* Please Make only Hufflepuff Gold */
.harryPotter {
    color: gold;
}


/* Please select Duck with the highest level of specificity possible */
h2.likesToQuack.fight1Or100 {
     color: lime;
}
/* Please select Rhino with the highest level of specificity possible */

#rhino {
   

}