###############################################
## Avoid pushing these files to the remote! ##
##############################################
CC-starter-kit/
code-wars-js/
favicon_io.zip/
class37/express-api/
homework-layouts/star-trek-api-demo
homework-layouts/star-trek-app