@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #dddddd;
  --secondary-color: #333333;
  --text-color: #ffffff;
  --border-color: #cccccc;
  --red: #ff0000;
  --blue: #0000ff;
}

body {
  font-family: 'Nunito' Arial, sans-serif;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  color: var(--text-color);
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

form {
  width: 50%;
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: sans-serif;
}

label {
  font-weight: bold;
  margin-top: 1em;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: auto;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  margin-top: 1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}
