/* Box Model Hack */
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

body {
    padding: 0;
    margin: 0;
    background: #181828;
    color: azure;
    font-size: 14px;
    line-height: 1;
}
.top-header {
    margin: auto;
    text-align: center;
    padding: 1rem;
}
.top-header:before {

    background-image: url(https://1.bp.blogspot.com/-gxsOcYWghHA/Xp_izTh4sFI/AAAAAAAAU8s/y637Fwg99qAuzW9na_NT_uApny8Vce95gCEwYBhgL/s1600/header-footer-gradient-bg.png);
}
.top-header:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0.5;
}
#datepicker{
    box-sizing: border-box;
    width: 9rem;
    padding: 00.2rem;
    border-radius: 0.5rem;
   }
   .title-section{
    padding: 1rem;
   }
   .image-div{
    width: 80%;
    margin: auto;
   }
   #image_of_the_day{
    width: 100%;
   }
   .video-div{
    width: 80%;
    margin: auto;
   }
   #videoLink{
    width: 100%;
    height: 70vh
   }
   .description-div{
    width: 80%;
    margin:0.1rem auto 1rem;
    border: solid 1px white;
    padding: 0.5rem;
    border-radius: 00.5rem;
   }
   #description{
    line-height:1.82;
   }

