@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*==================================================
CSS SITEMAP >>>>

  00. VARIABLES CSS
  01. GENERAL CSS
  02. HEADER CSS
  03. SOCIAL ICONS CSS
  04. WELCOME BLOCK CSS
  05. ABOUT BLOCK CSS
  06. SERVICES BLOCK CSS
  07. WORK BLOCK CSS
  08. CONTACT BLOCK CSS
  09. TESTIMONIALS BLOCK CSS
  10. SKILLS BLOCK CSS


==================================================*/

/*==============================================
00. VARIABLES CSS
================================================*/
:root {
  --on: 0;
  --nav-open: 0;
  --sz-0: 0.25rem;
  --sz-1: 0.5rem;
  --sz-2: 0.75rem;
  --sz-3: 0.875rem;
  --sz-4: 1rem;
  --sz-5: 1.25rem;
  --sz-6: 1.5rem;
  --sz-7: 2rem;
  --sz-8: 3rem;
  --sz-9: 4rem;
  --sz-10: 6rem;
  --sz-11: 8rem;
  --sz-13: 16rem;
  --sz-17: 48rem;
  --tn-zp: 0.1s;
  --tn-qu: 0.2s;
  --max-width: var(--sz-17);
  --heading-size: 2;
  --heading-line-height: 0.9;
  --min-control-size: 48px;
  --nav-height: 80px;
  --nav-width: var(--sz-13);
  --bg: hsl(
    calc(200 - var(--on) * 160),
    calc((20 + var(--on) * 50) * 1%),
    calc((10 + var(--on) * 80) * 1%)
  );
  --bg-2: hsl(
    calc(200 - var(--on) * 160),
    calc((20 + var(--on) * 50) * 1%),
    calc(var(--on) * 100 * 1%)
  );
  --bg-3: hsl(
    calc(200 - var(--on) * 160),
    calc((20 + var(--on) * 50) * 1%),
    calc((3 + var(--on) * 94) * 1%)
  );
  --color: hsl(0, 0%, calc((96 - var(--on) * 80) * 1%));
  --color-2: hsl(0, 0%, calc((70 - var(--on) * 35) * 1%));
  --border: hsla(0, 0%, calc((100 - var(--on) * 90) * 1%), 0.5);
  --accent: #dd3c3c;
  --accent-2: rgba(221, 60, 60, 0.5);

  /* colors */

  /* base */
  --clr-dark: hsl(230 33.33% 7.06%);
  --clr-light: hsl(231 77% 90%);
  --clr-white: hsl(0 0% 100%);

  /* colors */
  /* Mint Text
      --clr-dark: 230 21% 5%;
      --clr-light: 245 44% 90%;
      --clr-white: 75 51% 88%; */

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}
@media (min-width: 35em) {
  :root {
    /* font-sizes */
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*==============================================
01. GENERAL CSS
================================================*/

html,
body {
  background: var(--bg);
  color: var(--color);
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
}

/*==============================================
02. HEADER CSS
================================================*/

/*==============================================
03. SOCIAL ICONS CSS
================================================*/

/*==============================================
04. WELCOME BLOCK CSS
================================================*/

/*==============================================
05. ABOUT ME
================================================*/

/*==============================================
06. SERVICES BLOCK CSS
================================================*/

/*==============================================
07. WORK BLOCK CSS
================================================*/

/*==============================================
08. CONTACT BLOCK CSS
================================================*/

/*==============================================
09. TESTIMONIALS BLOCK CSS
================================================*/

/*==============================================
10. SKILLS BLOCK CSS
================================================*/
