@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* Box Model Hack */
:root {
--bg-dark: #1a1f1b;
--bg-light: #ffffff;
--bg-red: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  position: relative;
  height: 100vh;
  overflow: hidden;

/* Created with https://www.css-gradient.com */
background: #cfd00e;
background: -webkit-radial-gradient(center, #CFD00E, #034F26);
background: -moz-radial-gradient(center, #CFD00E, #034F26);
background: radial-gradient(ellipse at center, #CFD00E, #034F26);
}

body::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(207,208,14,1) 100%);
  clip-path: circle(40% at left 70%);
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(207,208,14,1) 0%, rgba(165,81,173,1) 100%);
  clip-path: circle(30% at right 10%);
}

.container {
  position: relative;
  min-height: 100%;
}

.main {
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  padding-top: 75px;
  background-color: var(--bg-dark);
  border-radius: 25px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: var(--bg-light);
  color: black;
  text-align: right;
  padding-right: 10px;
}

.calculator-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  padding-bottom: 5px;
}

button {
  height: 60px;
  background-color: var(--bg-light);
  border: none;
  border-radius: 30px;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  margin: 7px;
  padding: 5px;
  flex: 1 0 17%;
}

button:hover {
  background: rgba(255, 255, 255, 0.5); /* Black color with 50% alpha/opacity */
  color: var(--bg-light);
  transition: 0.4s;
}

.all-clear {
  background-color: var(--bg-red);
  color: white;
  font-size: 3rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 100px;
  text-align: center;
  font-size: 2rem;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 100px;
    text-align: center;
    font-size: 2rem;
    }



/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
