.footer {
    padding: 20px 40px;
    overflow: hidden;
}

.footer__logo {
    font-size: 24px;    
    font-family: var(--playfair-display);
    text-transform: uppercase;
    color: var(--color-manderin);

    cursor: pointer;
}

/* targets the span and changes it's color */
.footer__logo span {
    color: var(--primary-color);
}
.footer__nav ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
}

.footer ul:last-child {
    gap: 32px;
}

.footer__nav li {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
}

.footer__social {
  display: flex;
  gap: 64px;
}

.footer__social li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 42px;
  height: 42px;
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.footer__social img {
  object-fit: contain;
  
}

.footer__copyright {
  text-align: center;
  color: #777;
  margin-top: 20px;
}
