.testimonial {
    height: 100vh;    
}

.testimonial-content {
  text-align: center;
}

.testimonial-content h2 {
    color: var(--color-manderin);
}

.testimonial-content h1 {
    font-size: 70px;

}
