<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	    <link rel="manifest" href="/site.webmanifest">

		<title>Office Hours Super Review</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Hello, 100Devs ;)</h1>
		<h2>Let's do some "Super Review Sunday"</h2>
		

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
