.hero {
  position: relative;
  max-width: 1280px;
  padding: 40px;
  margin: auto;
  top: 40px;
  /* outline: 1px solid blue; */
}

.hero__title {
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.left-content {
  flex: 1;
  text-align: left;
}

.right-content {
  flex: 1;
  text-align: right;
  opacity: 0.5;
}

.hero__news {
  display: flex; /* Add this line */
  justify-content: space-between; /* Add this line */
  position: relative;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.hero__newsleft {
  flex-basis: 50%; /* Add this line */
}

.hero__newsleft-article {
}

.hero__newsleft-article img {
  width: 100%;
}

.hero__newsleft-content {
  position: absolute;
  width: 40%;
  bottom: 10px;
  padding-left: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero__newsright {
  flex-basis: 50%; /* Add this line */
  display: flex;
  flex-wrap: wrap;

  margin-left: 5px;
}

.hero__newsright-article {
  width: 50%;
}

.hero__newsright-article img {
  width: 99%;
}

/* Additional styles */
.hero__newsright-article:last-child {
  margin-bottom: 0;
}
