@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* Box Model Hack */
:root {
--bg-dark: #1a1f1b;
--bg-light: #ffffff;
--bg-red: #ff0000;
}

* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/
.container {
  min-height: 100%;
  /* position: relative; */
}
body {

}

.hero {

}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  padding-top: 75px;
  background-color: var(--bg-dark);
  /* border: 2px solid red; */
  border-radius: 25px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: var(--bg-light);
  color: black;
  text-align: right;
  padding-right: 10px;
  /* border: 2px solid green; */
}

.calculator-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  padding-bottom: 5px;
  /* border: 2px solid yellow; */
}

button {
  height: 60px;
  background-color: var(--bg-light);
  border: none;
  border-radius: 30px;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  margin: 7px;
  padding: 5px;
  flex: 1 0 17%;
}

button:hover {
  background: rgba(255, 255, 255, 0.5); /* Black color with 50% alpha/opacity */
  color: var(--bg-light);
  transition: 0.7s;
}

.all-clear {
  background-color: var(--bg-red);
  color: white;
  font-size: 3rem;
}



/******************************************
/* LAYOUT
/*******************************************/
header {

}

.footer {
  /* position:absolute;  */
  bottom:0;
  width:100%;
  height:60px;

  display: block;
  box-sizing: border-box;
  height: 500px;
  background-color: #dddc07;
  clip-path: ellipse(132% 100% at 13.92% 100%);
  }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
