:root {
    /* CSS HEX */
/* --ming: #517173ff;
--emerald: #5ECD72ff;
--beaver: #AE826Fff;
--sky-blue: #87CEEBff;
--beaver-2: #AE826Fff; */

/* CSS HSL */
--ming: hsla(184, 17%, 38%, 1);
--emerald: hsla(131, 53%, 59%, 1);
--beaver: hsla(18, 28%, 56%, 1);
--sky-blue: hsla(197, 71%, 73%, 1);
--beaver-2: hsla(18, 28%, 56%, 1);
--egret: rgb(255, 255, 255, 1);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core body defaults */
body {
  font-family: 'Josefin Slab', serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-weight: 700;
  color: var(--egret);
  background: var(--sky-blue);  
}

header,
footer {
  height: 15vh;
  background: lightsalmon;
  clear: both;
}

.header {
  border-bottom: 3px solid black;
}

section {
  height: 70vh;
  float: left;
  border-bottom: 3px solid black;
}

.one,
.three,
.four {
  width: 20%;
/*   width: 20vw; */
  background: springgreen;
}

.two {
  width: 40%;
/*   width: 40vw; */
  background: steelblue;
  border-left: 3px solid black;
}

.three,
.four {
  border-left: 3px solid black;
}

header:hover,
section:hover,
footer:hover {
  background: transparent;
  transition: 0.5s ease-in-out;
}
