:root {

/* CSS HSL */
--ming: hsla(184, 17%, 38%, 1);
--emerald: hsla(131, 53%, 59%, 1);
--beaver: hsla(18, 28%, 56%, 1);
--sky-blue: hsla(197, 71%, 73%, 1);
--beaver-2: hsla(18, 28%, 56%, 1);
--orchid:  hsla(288, 73%, 59%, 1);
--egret: hsla(0, 0%, 100%, 1);
--darkest: hsl(0, 0%, 0%, 1);
}

header,
footer {
  height: 100px;
  background: var(--orchid);
  border: 2px solid var(--egret);    
  clear: both;
}

section {
  height: 78.5vh;
  border: 3px solid var(--egret);
  float: left;
}

h1 {
  text-align: center;
  margin: auto;
}

.one,
.three,
.four {
  width: 20%;
  background: var(--emerald);
}

.two {
  width: 40%;
  background: var(--sky-blue);
  border: 3px solid var(--egret);
}

.three,
.four {
  border: 3px solid var(--egret);
}

header:hover,
section:hover,
footer:hover {
  background: transparent;
  transition: 0.5s ease-in-out;
}

header:hover,
section:hover,
footer:hover {
  background: transparent;
  transition: 0.5s ease-in-out;
}
